body {
 background-image: url("../images/mars.jpg");
 height: 100%; 
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

h1 {
  font-family: 'Geostar Fill', cursive;
}

.jumbotron {
  background-color: rgba(241, 147, 147, 0.25);
  color: #fff;
}

.panel {
  background-color: rgba(241, 147, 147, 0.25);
  color: #fff;
  border: none;
}

.panelWords {
  color: #fff !important;
  font-family: 'Geostar Fill', cursive;
  font-size: 30px;
}

#letter0, #letter1, #letter2, #letter3, #letter4, #letter5, #letter6, #letter7, #letter8, #letter9, 
#letter10, #letter11, #letter12, #letter13, #letter14, #letter15, #letter16, #letter17, #letter18, #letter19,
#letter20, #letter21, #letter22, #letter23, #letter24, #letter25, #letter26, #letter29, #letter30  {
    
    width: 50px;
    height: 60px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 50px;
    line-height: 60px;
    visibility: hidden;
   

    
}

#underline0, #underline1, #underline2, #underline3, #underline4, #underline5, #underline6, #underline7, 
#underline8, #underline9, #underline10, #underline11, #underline12, #underline13, #underline14, #underline15,
#underline16, #underline17, #underline18, #underline19, #underline20, #underline21, #underline22, #underline23,
#underline24, #underline25, #underline26, #underline27, #underline28, #underline29, #underline30 {
 	border-bottom: solid;
    float: left;
    width: 50px;
    height: 60px;
    margin-right: 5px;
    visibility: hidden;


}

#wordWrap{
    display: inline-block;
    width: auto ;
    margin: 0 auto;
    padding: 10px;
}

.theme {
  margin: 10px;
  background-color: #953c3c;
}

.single {
 background-color: #953c3c;
}
 .multi {
  background-color: #953c3c;
 }

 .form-control {
    font-family: times;
    font-size: 24px;
 }

 .playAgain {
    background-color: #953c3c;
 }
