body{
  background: url("../images/landingpage_bg.jpg") no-repeat center fixed;
  /*background: url("../images/144246-OTOQD9-270.jpg") no-repeat center fixed;*/
 /* Allows background image to fit perfectly on Computer screen, Ipad Screen, & Iphone Screen without any white space */
    -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

img{
  height: 150px;
  width: 150px;
}

div{
    position: relative;
}

span{
  position:absolute;
  font-size: 24px;
  font-weight: bold;
  color: yellow;
}

button{
  margin: 7px;
}

#triviaTitle{
  left: 55px;
  top: 90px;
}

#hangmanTitle{
  left: 30px;
  top: 90px;
}

#rpsTitle{
  left: 65px;
  top: 90px;
}

.planetDiv{
  float: left;
  border-radius: 50%;
  border: 5px solid white;
  box-shadow: -10px 10px 5px darkgrey;
}

#astronaut{
  float: left;
  left: 50px;
}

#trivia{
  left: 140px;
  top: 100px;
}

#rps{
  left: -150px;
  top: 400px;
}

#hangman{
  left: 70px;
  top: 300px;
}

#easterEgg{
  position:fixed;
  left: 700px;
  top: 100px;
}
