body{
  background: url("../images/landingpage_bg.jpg") no-repeat center fixed;
 /* Allows background image to fit perfectly on Computer screen, Ipad Screen, & Iphone Screen without any white space */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 500px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

img{
  height: 150px;
  width: 150px;
}

div{
    position: relative;
}

p{
  color: white;
  font-size:medium;
  font-family: 'Gloria Hallelujah', cursive;
  letter-spacing: 2px;
}

.title{
  position:absolute;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 8px black;
}

.row{
  margin-bottom: 50px;
}

.planetDiv{
  position:relative;
}

.planet{
  border-radius: 50%;
  border: 5px solid white;
  box-shadow: -10px 10px 5px darkgrey;
  height: 150px;
  width: 150px;
}

#music-button{
  margin: 10px;
}

#astronaut-div{
  left: 75px;
  font-family: 'Gloria Hallelujah', cursive;
  color: white;
}

#astronaut-img{
  height: 175px;
  width: 175px;
}

#triviaTitle{
  left: 70px;
  top: 80px;
  color: #ffcc66;
}

#rpsTitle{
  left: 75px;
  top: 75px;
  color: #ff99ff;
}

#hangmanTitle{
  left: 45px;
  top: 85px;
  color: yellow;
}

#starWarsTitle{
  left: 50px;
  top: 118px;
  color: yellow;
}

#planetSW{
  border-radius: 50%;
  border: 7px double lightgreen;
}

#footer{
  border-radius: 50%;
  border: 2px solid lightgrey;
  box-shadow: -10px 10px 5px darkgrey;
  padding-top: 10px;
}

#footerText{
  color: lightgreen;
}

#AP-logo{
  position: fixed;
  top: 8px;
  right: 150px;
  height: 25px;
  width: 25px;
  z-index: -1;
}

@media screen and (max-width: 980px) and (min-width:769px){

  #AP-logo{
    position: fixed;
    top: 45px;
    right: 130px;
    z-index: -1;
  }
}

@media screen and (max-width: 768px) and (min-width:641px){

  #AP-logo{
    position: fixed;
    top: 75px;
    right: 200px;
    z-index: -1;
  }
}

@media screen and (max-width: 640px){

  #AP-logo{
    position: fixed;
    top: 75px;
    right: 175px;
    z-index: -1;
  }
}
