body {
  background-image: url("../images/rocket3.jpg");
  background-repeat:no-repeat;
  background-position:50% 14%;
}

.jumbotron {
  background-color: rgba(0, 0, 0, 0.15) !important;
  color: #fff;
}

.nav-link {
  color: #fff !important;
}

.active {
  background-color: #040404 !important;
}

.nav-tabs {
    border-bottom: none !important;
}