body {
  background-image: url("../images/rocket3.jpg");
  background-repeat:no-repeat;
  background-position:50% 14%;
}

.jumbotron {
  background-color: rgba(0, 0, 0, 0.15) !important;
  color: #fff;
}

.navbar {
  background-color: rgba(103, 74, 74, 0.15) !important;
}